.listContainer {
  background-color: var(--list-bg);
  border-radius: 0.4rem;
  padding: 0.6rem;
  border: 1px solid rgb(223, 223, 223);
  margin-bottom: 1rem;
  overflow-y: scroll;
  height: 85vh;
}

.listNameContainer {
  align-items: center;
  background-color: #ffffff;
  padding: 0.4rem 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(223, 223, 223);
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}

.listName {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  border: 1px solid transparent;
  padding: 0.3rem 0.1rem;
  border-radius: 0.4rem;
  flex-grow: 1;
}

.listName:hover {
  border: 1px solid rgb(223, 223, 223);
}

.listName:focus-visible {
  outline: 1px solid #cfcfcf;
}

.listOptions {
  background-color: transparent;
  border: 0;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.listOptions:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.addTaskButton {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px dashed rgb(170, 169, 169);
  color: rgb(170, 169, 169);
  background-color: transparent;
  margin-bottom: 0.5rem;
}

.addTaskButton:hover {
  background-color: rgb(221, 221, 221);
}

.icon {
  width: 15px;
  height: 15px;
  display: block;
}

.iconOptions {
  background: url("../../assets/images/icons/options.png") center/cover
    no-repeat;
}

.addTaskButton {
  cursor: pointer;
}

.popupName {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.popupContainer {
  background-color: #ffffff;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 170px;
}

.popupItem {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.popupItem:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.popupItem:last-child {
  margin-bottom: 0px;
}

.iconPopup {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.iconEdit {
  background: url("../../assets/images/icons/edit.svg") center/cover no-repeat;
}

.iconDelete {
  background: url("../../assets/images/icons/trash.svg") center/cover no-repeat;
}
